name: Cake Fairy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  schedule:
    - cron: "19 10 * * 1"  # Tries to run every Monday at 10:19 (uses an odd time to not clash with peaks in Github usage)
  workflow_dispatch:  # Allows manual execution

env:
    GH_TOKEN: ${{ secrets.CAKE_TOKEN }}
    
jobs:
  update-content:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run Python script
        if: github.event.schedule == '* * 8-15,22-29 * *'  #  If it's a date that lines up with this being the second or fourth Monday of the month
        run: |
             python cakefairy.py --True

             #  Following were used when running once every other week, keeping here for now for future reference
             #python cakefairy.py --${{ vars.BIWEEKLY }}  # If we feed in True we actually draw new names, otherwise it just exits the script
             #if [ ${{ vars.BIWEEKLY }} == "on_week" ];then gh variable set BIWEEKLY --body "off_week"; fi
             #if [ ${{ vars.BIWEEKLY }} == "off_week" ];then gh variable set BIWEEKLY --body "on_week"; fi
  

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Automated update $(date +'%Y-%m-%d %H:%M:%S')" || exit 0
          git push https://x-access-token:${{ secrets.CAKE_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
